@model IEnumerable<xSteak.Models.ViewModels.OrderDetalisViewModel>
@using xSteak.Utility
@{
    ViewData["Title"] = "OrderHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form method="get">
    <br />
    <br />
    <h2 class="text-info">Orders Ready For Pickp :</h2>
    <div class="border backgroundWhite">
        <div class="container border border-secondary" style="height:60px;">
            <div class="row container">
                <div class="col-11 ">
                    <div class=" row" style="padding-top:10px">
                        <div class="col-4">
                            @Html.Editor("searchName", new { htmlAttributes = new { @class = "form-control", placeholder = "Name...." } })
                        </div>
                        <div class="col-4">
                            @Html.Editor("searchPhone", new { htmlAttributes = new { @class = "form-control", placeholder = "Phone...." } })
                        </div>
                        <div class="col-4">
                            @Html.Editor("searchEmail", new { htmlAttributes = new { @class = "form-control", placeholder = "Email...." } })
                        </div>
                    </div>
                </div>
                <div class="col-1">
                    <div class="row" style="padding-top:10px;">
                        <button type="submit" name="submit" value="Search" class="btn btn-info form-control">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <br />
        <div>
            @if (Model.Count() > 0)
            {
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>
                            @Html.DisplayNameFor(x => x.OrderHeader.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(x => x.OrderHeader.PickupName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(x => x.OrderHeader.ApplicationUser.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(x => x.OrderHeader.PickupTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(x => x.OrderHeader.OrderTotal)
                        </th>
                        <th>
                            Total Item
                        </th>

                        <th>

                        </th>
                        <th>

                        </th>
                        <th>

                        </th>


                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => item.OrderHeader.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.OrderHeader.PickupName)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.OrderHeader.ApplicationUser.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.OrderHeader.PickupTime)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.OrderHeader.OrderTotal)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.OrderDetails.Count)
                            </td>
                            <td>
                                <button type="button" class="btn btn-success anchorDetails" data-id="@item.OrderHeader.Id" data-toggle="modal">
                                    <i class="far fa-list-alt"></i>
                                    Details
                                </button>
                            </td>
                            <td>
                            <td>
                                <a asp-action="Invoice" asp-controller="ManageOrder" class="btn btn-info" asp-route-id="@item.OrderHeader.Id">

                                    <i class="far fa-list-alt"></i>
                                    invoice
                                </a>

                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p>
                    No Orders Ready For Pickp
                </p>
            }
        </div>
    </div>

</form>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog-centered modal-dialog" style="max-width:700px" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success text-light ">
                <div class="col-10 offset-1">
                    <center><h5 class="modal-title">Order Details</h5></center>
                </div>
                <div class="col-1">
                    <button type="button" class="float-right btn-outline-secondary close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body justify-content-center" id="myModalContent">

            </div>

        </div>
    </div>
</div>


@section scripts{
    <script>

        var PostBackURL = '/Customer/Order/GetOrderDetails';
        $(function () {
            $(".anchorDetails").click(function () {
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                $.ajax({
                    type: "Get",
                    url: PostBackURL,
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    cache: false,
                    dataType: "html",
                    success: function (data) {
                        $('#myModalContent').html(data);
                        $('#myModal').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed");
                    }

                });
            });
        });
    </script>
}